<!--The content below is only a placeholder and can be replaced.-->
<div class="div">
  <form (ngSubmit)="onSubmit(f)" #f='ngForm'>
    <mat-form-field>
      <input matInput type="email" placeholder="Email" email required ngModel name="email" #email='ngModel'>
      <mat-error *ngIf="email.invalid && email.touched ">The email is invalid</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Subscriptions" ngModel [ngModel]="defaultSubscription" name='subscription'>
        <mat-option *ngFor="let subscription of subscriptions"  value='{{subscription}}' >{{ subscription }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" required ngModel name="password" #password='ngModel'>
      <mat-error *ngIf="password.invalid && password.touched  ">The email is invalid</mat-error>
    </mat-form-field>
    <div style="margin-left: 20%; width: 60%; padding-top: 1em">
      <button mat-raised-button color='primary' style="width: 100%" type="submit">Submit</button>
    </div>
  </form>
  <hr>
  <div style="padding-top: 1em">
    <mat-card style="margin-left: 20%; margin-right: 20%;">
      <mat-card-title>Your Submited Information</mat-card-title>
      <mat-card-content>Email: {{user.email}}</mat-card-content>
      <mat-card-content>Subscription: {{user.subscription}}</mat-card-content>
      <mat-card-content>Password: {{user.password}}</mat-card-content>
    </mat-card>
  </div>
</div>